NEXT_PUBLIC_SUPABASE_URL=https://ltyovqimoaakvcmzknkq.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0eW92cWltb2Fha3ZjbXprbmtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNTI1MzYsImV4cCI6MjA5MjgyODUzNn0.KjzBEzF22hj9wmLGx5j0VHcXZinK--OH5LxBzcgEfcg
